.container
  .page-header
    %h1= t('.title') + @vehicle.registration_number
    %p= t('.vehicle_description')

  = render 'shared/bookings_list'

  %br

  = link_to t('.new'), new_vehicle_booking_path(@vehicle)
