.jumbotron.text-center
  %h1= t('.title')
  %p= t('.description')

.container-fluid.text-center
  .row.content
    .col-sm-3.sidenav
      %h3 Unsure where to go first?
      %p Click a name to learn more about the page
      %button.btn.btn-default.btn-block{:id => "home"} Home
      .container-fluid.hidden{:id => "home-info"}
        %br
        %p info about home
      %hr
      %button.btn.btn-default.btn-block{:id => "contact"} Contact
      .container-fluid.hidden{:id => "contact-info"}
        %br
        %p info about contact
      %hr
      %button.btn.btn-default.btn-block{:id => "my-vehicles"} My Vehicles
      .container-fluid.hidden{:id => "my-vehicles-info"}
        %br
        %p info about my vehicles
      %hr
      %button.btn.btn-default.btn-block{:id => "pricing"} Pricing
      .container-fluid.hidden{:id => "pricing-info"}
        %br
        %p info about pricing
      %hr
      %button.btn.btn-default.btn-block{:id => "spaces"} Spaces
      .container-fluid.hidden{:id => "spaces-info"}
        %br
        %p info about spaces
      %br

    .col-sm-9.text-left
      .container-fluid
        %h1 Welcome
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        %hr/
        %h3 How to Get Started
        %p Lorem ipsum...
