/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar, #flash_messages, #flash_messages > div {
  margin-bottom: 0;
  border-radius: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.full-page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fill-space {
  flex: 1;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
  width: 100%;
}

.jumbotron {
  margin-bottom: 0px;
}

.hidden {
  display: none;
}
